// Define our font-face stacks here.
@mixin font-variables {
    @font-face {
        font-display: swap;
        font-family: 'veneer';
        font-style: normal;
        font-weight: normal;
        src: url('./static/subset-Example-Regular.woff2') format('woff2');
    }

}

