.site-footer {
    --link--color: var(--color--foreground);
    --link--color--hover: var(--color--foreground);
    --site-footer__images--aspect-ratio: 28 / 13;

    $this: &;
    $footer-breakpoint--small: 400px;

    padding-top: var(--space--xl);
    padding-bottom: var(--space--xl);

    &__logo { grid-area: logo; }
    &__top-text { grid-area: top-text; }
    &__menu-1 { grid-area: menu-1; }
    &__menu-2 { grid-area: menu-2; }
    &__right { grid-area: right; }

    &__top {
        padding-top: 4em;
        padding-bottom: 4em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


    &__logo {
        a {
            display: inline-block;
            width: 100%;
            max-width: rem(130);

            @include mq(medium) {
                max-width: rem(165);
            }
        }

        img {
            display: inline-block;
            width: 100%;
        }
    }

    &__icon-row{
        display: flex;
        gap: 20px;
        margin-bottom: 40px;
      img{
            width: 30px; /* Set a uniform width */
            height: 30px; /* Set a uniform height */
            object-fit: contain; /* Ensures images fit without distortion */
            display: block; /* Prevents flexbox issues */
        }
      
    }

    &__menu {
        $menu: &;

        &__inner {
            @include list-reset-hard;

            display: grid;
            gap: var(--space--xs);
        }

        .menu-list {
            display: grid;
            gap: var(--space--xs);
        }

        a {
            @include link--2;
        }
    }

    .menu__heading {
        @include typestyle-h5;
    }

    &__right {
        display: grid;
        align-self: stretch;
        gap: var(--space--base);

        @include mq(medium) {
            justify-items: flex-end;
        }
    }

    .social-icons {
        --grid--column-gap: var(--space--s);

        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    &__images {
        --grid--columns: 2;

        width: 100%;
        max-width: rem(280);
        justify-content: flex-end;
    }

    &__image {
        aspect-ratio: var(--site-footer__images--aspect-ratio);

        > * {
            object-fit: contain;
        }
    }

    &__bottom {
        padding-top: var(--space--base);
        border-top: var(--border--1);

        &__inner {
            align-items: center;
            gap: rem(25);
            text-align: center;
        }

        #{$this}__bottom-text {
            @include no-first-last-margin;

            max-width: 60em;
            text-align: left;
        }
    }
}
